.launcher {
  text-align: center;
  background-color: #a2d3f9;
  width: 100%;
  height: 600px;
  padding: 10% 10% 10% 10%;
}

.launcher h1 {
  font-size: 3em;
}

.launcher a {
  margin: 5% 5% 5% 5%;
}

#errorModal {
  position: relative;
  display: block;
}