{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>File</h2>
            {% for item in data %}
            You uploaded <i>{{item.filename}}</i>. These are some file statistics.
            <ul>
                
                <li>Number of variables: {{item.ncols}}</li>
                <li>Number of instances: {{item.nrows}}</li>
                
            </ul>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <h2>Algorithm selection</h2>
            Please select an algorithm here.
            
            <form action="/algorithm" method="POST">
                <select name="algorithm" class="form-select" aria-label="Select algorithm">
                    <option selected>Select an algorithm</option>
                    <option value="nn">K-Nearest Neighbours</option>
                    <option value="logreg">Logistic Regression</option>
                    <option value="svm">Support Vector Machine</option>
                    <option value="dt">Decision Tree</option>
                    <option value="rf">Random Forest</option>
                </select>
                <button type="submit" class="btn btn-primary">Run</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}